{% extends "base.html" %}
{% block title %} Homepage FILMS {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Module 104 Exercice 3 :Projet de stock de Livre
			</h3>

			<ul>
				<li class="list-item">

					<a href="https://www.epsic.ch/" target="_blank"> epsic</a><br>

				</li>
			</ul>
			>div>
	</div>
</div>
{% endblock %}
