{% extends "base.html" %}
{% block title %}Edit GENRE{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Modifier ce Format.
			</p>
			<form method="POST" action="{{ url_for('format_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id Format
                            </th>
                            <th>
                                Format
                            </th>

                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" name="id_Format_edit_html" value="{{ row.id_Format }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "name_edit_Nom_Format_html" value="{{ row.Nom_Format }}"/>
                                </td>

                                <td>
                                    <button class="btn btn-warning" type="submit">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
