{% extends "base.html" %}
{% block title %}DELETE GENRE{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Effacer ce format.
			</p>
			<form method="POST" action="{{ url_for('format_delete') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id format
                            </th>
                            <th>
                                format
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" name="id_Format_delete_html" value="{{ row.id_Format }}"/>
                                </td>
                                <td>
                                    {{ row.Nom_Format }}
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="submit">EFFACER</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
