{% extends "base.html" %}
{% block title %} Ajouter un GENRE{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Clavioter un nouvel auteur
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="Nom_Format">
						Nom Format
					</label>
					<input type ="text" class="form-control" name="name_format_html" />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer le format
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
